<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="verifiedDocuments">
      <h2 data-cy="verifiedDocumentsDetailsHeading"><span>Verified Documents</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ verifiedDocuments.id }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ verifiedDocuments.type }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ verifiedDocuments.name }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ verifiedDocuments.status }}</span>
        </dd>
        <dt><span>Content Id</span></dt>
        <dd>
          <span>{{ verifiedDocuments.contentId }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ verifiedDocuments.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ verifiedDocuments.createdBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ verifiedDocuments.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ verifiedDocuments.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/verified-documents', verifiedDocuments.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
