<div>
  <h2 id="page-heading" data-cy="FormSuratJalanHeading">
    <span>Form Surat Jalans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-form-surat-jalan"
        [routerLink]="['/form-surat-jalan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Form Surat Jalan </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formSuratJalans?.length === 0">
    <span>No Form Surat Jalans found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="formSuratJalans && formSuratJalans.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="active">
            <div class="d-flex">
              <span>Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <div class="d-flex">
              <span>Remarks</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contents">
            <div class="d-flex">
              <span>Contents</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="branch">
            <div class="d-flex">
              <span>Branch</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documentTitle">
            <div class="d-flex">
              <span>Document Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documentNumber">
            <div class="d-flex">
              <span>Document Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="recipientAddress">
            <div class="d-flex">
              <span>Recipient Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="npwp">
            <div class="d-flex">
              <span>Npwp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="warehouseSource">
            <div class="d-flex">
              <span>Warehouse Source</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documentSource">
            <div class="d-flex">
              <span>Document Source</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reference">
            <div class="d-flex">
              <span>Reference</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span>Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="productDescription">
            <div class="d-flex">
              <span>Product Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="quantity">
            <div class="d-flex">
              <span>Quantity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="amount">
            <div class="d-flex">
              <span>Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="armadaNumber">
            <div class="d-flex">
              <span>Armada Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="containerNumber">
            <div class="d-flex">
              <span>Container Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span>Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span>Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <div class="d-flex">
              <span>Last Modified Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span>Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formSuratJalan of formSuratJalans; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/form-surat-jalan', formSuratJalan.id, 'view']">{{ formSuratJalan.id }}</a>
          </td>
          <td>{{ formSuratJalan.status }}</td>
          <td>{{ formSuratJalan.active }}</td>
          <td>{{ formSuratJalan.remarks }}</td>
          <td>{{ formSuratJalan.contents }}</td>
          <td>{{ formSuratJalan.branch }}</td>
          <td>{{ formSuratJalan.documentTitle }}</td>
          <td>{{ formSuratJalan.documentNumber }}</td>
          <td>{{ formSuratJalan.recipientAddress }}</td>
          <td>{{ formSuratJalan.npwp }}</td>
          <td>{{ formSuratJalan.warehouseSource }}</td>
          <td>{{ formSuratJalan.documentSource }}</td>
          <td>{{ formSuratJalan.reference }}</td>
          <td>{{ formSuratJalan.date }}</td>
          <td>{{ formSuratJalan.productDescription }}</td>
          <td>{{ formSuratJalan.quantity }}</td>
          <td>{{ formSuratJalan.amount }}</td>
          <td>{{ formSuratJalan.armadaNumber }}</td>
          <td>{{ formSuratJalan.containerNumber }}</td>
          <td>{{ formSuratJalan.createdDate | formatMediumDatetime }}</td>
          <td>{{ formSuratJalan.createdBy }}</td>
          <td>{{ formSuratJalan.lastModifiedDate | formatMediumDatetime }}</td>
          <td>{{ formSuratJalan.lastModifiedBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/form-surat-jalan', formSuratJalan.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/form-surat-jalan', formSuratJalan.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(formSuratJalan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
