<div>
  <h2 id="page-heading" data-cy="FormBASTPBPPHeading">
    <span>Form BASTPBPPS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-form-bastpbpp"
        [routerLink]="['/form-bastpbpp/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Form BASTPBPP </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formBASTPBPPS?.length === 0">
    <span>No Form BASTPBPPS found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="formBASTPBPPS && formBASTPBPPS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="active">
            <div class="d-flex">
              <span>Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <div class="d-flex">
              <span>Remarks</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contents">
            <div class="d-flex">
              <span>Contents</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documentTitle">
            <div class="d-flex">
              <span>Document Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kelurahanDesa">
            <div class="d-flex">
              <span>Kelurahan Desa</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kecamatan">
            <div class="d-flex">
              <span>Kecamatan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kabupatenKota">
            <div class="d-flex">
              <span>Kabupaten Kota</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="provinsi">
            <div class="d-flex">
              <span>Provinsi</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpTidakDitemukan1">
            <div class="d-flex">
              <span>Pbp Tidak Ditemukan 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sebabPenggantian1">
            <div class="d-flex">
              <span>Sebab Penggantian 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpPengganti1">
            <div class="d-flex">
              <span>Pbp Pengganti 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpPengganti1">
            <div class="d-flex">
              <span>Alamat Pbp Pengganti 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpTidakDitemukan2">
            <div class="d-flex">
              <span>Pbp Tidak Ditemukan 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sebabPenggantian2">
            <div class="d-flex">
              <span>Sebab Penggantian 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpPengganti2">
            <div class="d-flex">
              <span>Pbp Pengganti 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpPengganti2">
            <div class="d-flex">
              <span>Alamat Pbp Pengganti 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpTidakDitemukan3">
            <div class="d-flex">
              <span>Pbp Tidak Ditemukan 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sebabPenggantian3">
            <div class="d-flex">
              <span>Sebab Penggantian 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpPengganti3">
            <div class="d-flex">
              <span>Pbp Pengganti 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpPengganti3">
            <div class="d-flex">
              <span>Alamat Pbp Pengganti 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpTidakDitemukan4">
            <div class="d-flex">
              <span>Pbp Tidak Ditemukan 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sebabPenggantian4">
            <div class="d-flex">
              <span>Sebab Penggantian 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpPengganti4">
            <div class="d-flex">
              <span>Pbp Pengganti 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpPengganti4">
            <div class="d-flex">
              <span>Alamat Pbp Pengganti 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpTidakDitemukan5">
            <div class="d-flex">
              <span>Pbp Tidak Ditemukan 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sebabPenggantian5">
            <div class="d-flex">
              <span>Sebab Penggantian 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpPengganti5">
            <div class="d-flex">
              <span>Pbp Pengganti 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpPengganti5">
            <div class="d-flex">
              <span>Alamat Pbp Pengganti 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span>Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span>Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <div class="d-flex">
              <span>Last Modified Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span>Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formBASTPBPP of formBASTPBPPS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/form-bastpbpp', formBASTPBPP.id, 'view']">{{ formBASTPBPP.id }}</a>
          </td>
          <td>{{ formBASTPBPP.status }}</td>
          <td>{{ formBASTPBPP.active }}</td>
          <td>{{ formBASTPBPP.remarks }}</td>
          <td>{{ formBASTPBPP.contents }}</td>
          <td>{{ formBASTPBPP.documentTitle }}</td>
          <td>{{ formBASTPBPP.kelurahanDesa }}</td>
          <td>{{ formBASTPBPP.kecamatan }}</td>
          <td>{{ formBASTPBPP.kabupatenKota }}</td>
          <td>{{ formBASTPBPP.provinsi }}</td>
          <td>{{ formBASTPBPP.pbpTidakDitemukan1 }}</td>
          <td>{{ formBASTPBPP.sebabPenggantian1 }}</td>
          <td>{{ formBASTPBPP.pbpPengganti1 }}</td>
          <td>{{ formBASTPBPP.alamatPbpPengganti1 }}</td>
          <td>{{ formBASTPBPP.pbpTidakDitemukan2 }}</td>
          <td>{{ formBASTPBPP.sebabPenggantian2 }}</td>
          <td>{{ formBASTPBPP.pbpPengganti2 }}</td>
          <td>{{ formBASTPBPP.alamatPbpPengganti2 }}</td>
          <td>{{ formBASTPBPP.pbpTidakDitemukan3 }}</td>
          <td>{{ formBASTPBPP.sebabPenggantian3 }}</td>
          <td>{{ formBASTPBPP.pbpPengganti3 }}</td>
          <td>{{ formBASTPBPP.alamatPbpPengganti3 }}</td>
          <td>{{ formBASTPBPP.pbpTidakDitemukan4 }}</td>
          <td>{{ formBASTPBPP.sebabPenggantian4 }}</td>
          <td>{{ formBASTPBPP.pbpPengganti4 }}</td>
          <td>{{ formBASTPBPP.alamatPbpPengganti4 }}</td>
          <td>{{ formBASTPBPP.pbpTidakDitemukan5 }}</td>
          <td>{{ formBASTPBPP.sebabPenggantian5 }}</td>
          <td>{{ formBASTPBPP.pbpPengganti5 }}</td>
          <td>{{ formBASTPBPP.alamatPbpPengganti5 }}</td>
          <td>{{ formBASTPBPP.createdDate | formatMediumDatetime }}</td>
          <td>{{ formBASTPBPP.createdBy }}</td>
          <td>{{ formBASTPBPP.lastModifiedDate | formatMediumDatetime }}</td>
          <td>{{ formBASTPBPP.lastModifiedBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/form-bastpbpp', formBASTPBPP.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/form-bastpbpp', formBASTPBPP.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(formBASTPBPP)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
