<div>
  <h2 id="page-heading" data-cy="FormPengeluaranBarangHeading">
    <span>Form Pengeluaran Barangs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-form-pengeluaran-barang"
        [routerLink]="['/form-pengeluaran-barang/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Form Pengeluaran Barang </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formPengeluaranBarangs?.length === 0">
    <span>No Form Pengeluaran Barangs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="formPengeluaranBarangs && formPengeluaranBarangs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="active">
            <div class="d-flex">
              <span>Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <div class="d-flex">
              <span>Remarks</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contents">
            <div class="d-flex">
              <span>Contents</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="branch">
            <div class="d-flex">
              <span>Branch</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documentTitle">
            <div class="d-flex">
              <span>Document Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documentNumber">
            <div class="d-flex">
              <span>Document Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="recipientAddress">
            <div class="d-flex">
              <span>Recipient Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="npwp">
            <div class="d-flex">
              <span>Npwp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="warehouseSource">
            <div class="d-flex">
              <span>Warehouse Source</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documentSource">
            <div class="d-flex">
              <span>Document Source</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reference">
            <div class="d-flex">
              <span>Reference</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span>Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="productDescription">
            <div class="d-flex">
              <span>Product Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sourceLocation">
            <div class="d-flex">
              <span>Source Location</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lotNo">
            <div class="d-flex">
              <span>Lot No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="quantity">
            <div class="d-flex">
              <span>Quantity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="amount">
            <div class="d-flex">
              <span>Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sourceDestination">
            <div class="d-flex">
              <span>Source Destination</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="armadaName">
            <div class="d-flex">
              <span>Armada Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="armadaNumber">
            <div class="d-flex">
              <span>Armada Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span>Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span>Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <div class="d-flex">
              <span>Last Modified Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span>Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formPengeluaranBarang of formPengeluaranBarangs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/form-pengeluaran-barang', formPengeluaranBarang.id, 'view']">{{ formPengeluaranBarang.id }}</a>
          </td>
          <td>{{ formPengeluaranBarang.status }}</td>
          <td>{{ formPengeluaranBarang.active }}</td>
          <td>{{ formPengeluaranBarang.remarks }}</td>
          <td>{{ formPengeluaranBarang.contents }}</td>
          <td>{{ formPengeluaranBarang.branch }}</td>
          <td>{{ formPengeluaranBarang.documentTitle }}</td>
          <td>{{ formPengeluaranBarang.documentNumber }}</td>
          <td>{{ formPengeluaranBarang.recipientAddress }}</td>
          <td>{{ formPengeluaranBarang.npwp }}</td>
          <td>{{ formPengeluaranBarang.warehouseSource }}</td>
          <td>{{ formPengeluaranBarang.documentSource }}</td>
          <td>{{ formPengeluaranBarang.reference }}</td>
          <td>{{ formPengeluaranBarang.status }}</td>
          <td>{{ formPengeluaranBarang.date }}</td>
          <td>{{ formPengeluaranBarang.productDescription }}</td>
          <td>{{ formPengeluaranBarang.sourceLocation }}</td>
          <td>{{ formPengeluaranBarang.lotNo }}</td>
          <td>{{ formPengeluaranBarang.quantity }}</td>
          <td>{{ formPengeluaranBarang.amount }}</td>
          <td>{{ formPengeluaranBarang.sourceDestination }}</td>
          <td>{{ formPengeluaranBarang.armadaName }}</td>
          <td>{{ formPengeluaranBarang.armadaNumber }}</td>
          <td>{{ formPengeluaranBarang.createdDate | formatMediumDatetime }}</td>
          <td>{{ formPengeluaranBarang.createdBy }}</td>
          <td>{{ formPengeluaranBarang.lastModifiedDate | formatMediumDatetime }}</td>
          <td>{{ formPengeluaranBarang.lastModifiedBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/form-pengeluaran-barang', formPengeluaranBarang.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/form-pengeluaran-barang', formPengeluaranBarang.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(formPengeluaranBarang)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
