<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="formPengeluaranBarang">
      <h2 data-cy="formPengeluaranBarangDetailsHeading"><span>Form Pengeluaran Barang</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.id }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.status }}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.active }}</span>
        </dd>
        <dt><span>Remarks</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.remarks }}</span>
        </dd>
        <dt><span>Contents</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.contents }}</span>
        </dd>
        <dt><span>Branch</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.branch }}</span>
        </dd>
        <dt><span>Document Title</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.documentTitle }}</span>
        </dd>
        <dt><span>Document Number</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.documentNumber }}</span>
        </dd>
        <dt><span>Recipient Address</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.recipientAddress }}</span>
        </dd>
        <dt><span>Npwp</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.npwp }}</span>
        </dd>
        <dt><span>Warehouse Source</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.warehouseSource }}</span>
        </dd>
        <dt><span>Document Source</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.documentSource }}</span>
        </dd>
        <dt><span>Reference</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.reference }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.status }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.date }}</span>
        </dd>
        <dt><span>Product Description</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.productDescription }}</span>
        </dd>
        <dt><span>Source Location</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.sourceLocation }}</span>
        </dd>
        <dt><span>Lot No</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.lotNo }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.quantity }}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.amount }}</span>
        </dd>
        <dt><span>Source Destination</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.sourceDestination }}</span>
        </dd>
        <dt><span>Armada Name</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.armadaName }}</span>
        </dd>
        <dt><span>Armada Number</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.armadaNumber }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.createdBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ formPengeluaranBarang.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/form-pengeluaran-barang', formPengeluaranBarang.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
