<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="formBASTPBP">
      <h2 data-cy="formBASTPBPDetailsHeading"><span>Form BASTPBP</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ formBASTPBP.id }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ formBASTPBP.status }}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
          <span>{{ formBASTPBP.active }}</span>
        </dd>
        <dt><span>Remarks</span></dt>
        <dd>
          <span>{{ formBASTPBP.remarks }}</span>
        </dd>
        <dt><span>Contents</span></dt>
        <dd>
          <span>{{ formBASTPBP.contents }}</span>
        </dd>
        <dt><span>Document Title</span></dt>
        <dd>
          <span>{{ formBASTPBP.documentTitle }}</span>
        </dd>
        <dt><span>Document Number</span></dt>
        <dd>
          <span>{{ formBASTPBP.documentNumber }}</span>
        </dd>
        <dt><span>Kelurahan Desa</span></dt>
        <dd>
          <span>{{ formBASTPBP.kelurahanDesa }}</span>
        </dd>
        <dt><span>Kecamatan</span></dt>
        <dd>
          <span>{{ formBASTPBP.kecamatan }}</span>
        </dd>
        <dt><span>Kabupaten Kota</span></dt>
        <dd>
          <span>{{ formBASTPBP.kabupatenKota }}</span>
        </dd>
        <dt><span>Provinsi</span></dt>
        <dd>
          <span>{{ formBASTPBP.provinsi }}</span>
        </dd>
        <dt><span>Rt Rw</span></dt>
        <dd>
          <span>{{ formBASTPBP.rtRw }}</span>
        </dd>
        <dt><span>Kcu</span></dt>
        <dd>
          <span>{{ formBASTPBP.kcu }}</span>
        </dd>
        <dt><span>Kantor Serah</span></dt>
        <dd>
          <span>{{ formBASTPBP.kantorSerah }}</span>
        </dd>
        <dt><span>Bast Number</span></dt>
        <dd>
          <span>{{ formBASTPBP.bastNumber }}</span>
        </dd>
        <dt><span>Document Description</span></dt>
        <dd>
          <span>{{ formBASTPBP.documentDescription }}</span>
        </dd>
        <dt><span>Nama 1</span></dt>
        <dd>
          <span>{{ formBASTPBP.nama1 }}</span>
        </dd>
        <dt><span>Alamat 1</span></dt>
        <dd>
          <span>{{ formBASTPBP.alamat1 }}</span>
        </dd>
        <dt><span>Nomor 1</span></dt>
        <dd>
          <span>{{ formBASTPBP.nomor1 }}</span>
        </dd>
        <dt><span>Jumlah 1</span></dt>
        <dd>
          <span>{{ formBASTPBP.jumlah1 }}</span>
        </dd>
        <dt><span>Nama 2</span></dt>
        <dd>
          <span>{{ formBASTPBP.nama2 }}</span>
        </dd>
        <dt><span>Alamat 2</span></dt>
        <dd>
          <span>{{ formBASTPBP.alamat2 }}</span>
        </dd>
        <dt><span>Nomor 2</span></dt>
        <dd>
          <span>{{ formBASTPBP.nomor2 }}</span>
        </dd>
        <dt><span>Jumlah 2</span></dt>
        <dd>
          <span>{{ formBASTPBP.jumlah2 }}</span>
        </dd>
        <dt><span>Nama 3</span></dt>
        <dd>
          <span>{{ formBASTPBP.nama3 }}</span>
        </dd>
        <dt><span>Alamat 3</span></dt>
        <dd>
          <span>{{ formBASTPBP.alamat3 }}</span>
        </dd>
        <dt><span>Nomor 3</span></dt>
        <dd>
          <span>{{ formBASTPBP.nomor3 }}</span>
        </dd>
        <dt><span>Jumlah 3</span></dt>
        <dd>
          <span>{{ formBASTPBP.jumlah3 }}</span>
        </dd>
        <dt><span>Nama 4</span></dt>
        <dd>
          <span>{{ formBASTPBP.nama4 }}</span>
        </dd>
        <dt><span>Alamat 4</span></dt>
        <dd>
          <span>{{ formBASTPBP.alamat4 }}</span>
        </dd>
        <dt><span>Nomor 4</span></dt>
        <dd>
          <span>{{ formBASTPBP.nomor4 }}</span>
        </dd>
        <dt><span>Jumlah 4</span></dt>
        <dd>
          <span>{{ formBASTPBP.jumlah4 }}</span>
        </dd>
        <dt><span>Nama 5</span></dt>
        <dd>
          <span>{{ formBASTPBP.nama5 }}</span>
        </dd>
        <dt><span>Alamat 5</span></dt>
        <dd>
          <span>{{ formBASTPBP.alamat5 }}</span>
        </dd>
        <dt><span>Nomor 5</span></dt>
        <dd>
          <span>{{ formBASTPBP.nomor5 }}</span>
        </dd>
        <dt><span>Jumlah 5</span></dt>
        <dd>
          <span>{{ formBASTPBP.jumlah5 }}</span>
        </dd>
        <dt><span>Nama 6</span></dt>
        <dd>
          <span>{{ formBASTPBP.nama6 }}</span>
        </dd>
        <dt><span>Nama 7</span></dt>
        <dd>
          <span>{{ formBASTPBP.nama7 }}</span>
        </dd>
        <dt><span>Alamat 7</span></dt>
        <dd>
          <span>{{ formBASTPBP.alamat7 }}</span>
        </dd>
        <dt><span>Nomor 7</span></dt>
        <dd>
          <span>{{ formBASTPBP.nomor7 }}</span>
        </dd>
        <dt><span>Jumlah 7</span></dt>
        <dd>
          <span>{{ formBASTPBP.jumlah7 }}</span>
        </dd>
        <dt><span>Nama 8</span></dt>
        <dd>
          <span>{{ formBASTPBP.nama8 }}</span>
        </dd>
        <dt><span>Alamat 8</span></dt>
        <dd>
          <span>{{ formBASTPBP.alamat8 }}</span>
        </dd>
        <dt><span>Nomor 8</span></dt>
        <dd>
          <span>{{ formBASTPBP.nomor8 }}</span>
        </dd>
        <dt><span>Jumlah 8</span></dt>
        <dd>
          <span>{{ formBASTPBP.jumlah8 }}</span>
        </dd>
        <dt><span>Nama 9</span></dt>
        <dd>
          <span>{{ formBASTPBP.nama9 }}</span>
        </dd>
        <dt><span>Alamat 9</span></dt>
        <dd>
          <span>{{ formBASTPBP.alamat9 }}</span>
        </dd>
        <dt><span>Nomor 9</span></dt>
        <dd>
          <span>{{ formBASTPBP.nomor9 }}</span>
        </dd>
        <dt><span>Jumlah 9</span></dt>
        <dd>
          <span>{{ formBASTPBP.jumlah9 }}</span>
        </dd>
        <dt><span>Nama 10</span></dt>
        <dd>
          <span>{{ formBASTPBP.nama10 }}</span>
        </dd>
        <dt><span>Alamat 10</span></dt>
        <dd>
          <span>{{ formBASTPBP.alamat10 }}</span>
        </dd>
        <dt><span>Nomor 10</span></dt>
        <dd>
          <span>{{ formBASTPBP.nomor10 }}</span>
        </dd>
        <dt><span>Jumlah 10</span></dt>
        <dd>
          <span>{{ formBASTPBP.jumlah10 }}</span>
        </dd>
        <dt><span>Alamat 6</span></dt>
        <dd>
          <span>{{ formBASTPBP.alamat6 }}</span>
        </dd>
        <dt><span>Nomor 6</span></dt>
        <dd>
          <span>{{ formBASTPBP.nomor6 }}</span>
        </dd>
        <dt><span>Jumlah 6</span></dt>
        <dd>
          <span>{{ formBASTPBP.jumlah6 }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ formBASTPBP.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ formBASTPBP.createdBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ formBASTPBP.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ formBASTPBP.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/form-bastpbp', formBASTPBP.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
