<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="formPernyataan">
      <h2 data-cy="formPernyataanDetailsHeading"><span>Form Pernyataan</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ formPernyataan.id }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ formPernyataan.status }}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
          <span>{{ formPernyataan.active }}</span>
        </dd>
        <dt><span>Remarks</span></dt>
        <dd>
          <span>{{ formPernyataan.remarks }}</span>
        </dd>
        <dt><span>Contents</span></dt>
        <dd>
          <span>{{ formPernyataan.contents }}</span>
        </dd>
        <dt><span>Document Title</span></dt>
        <dd>
          <span>{{ formPernyataan.documentTitle }}</span>
        </dd>
        <dt><span>Officer Name</span></dt>
        <dd>
          <span>{{ formPernyataan.officerName }}</span>
        </dd>
        <dt><span>Officer Phone Number</span></dt>
        <dd>
          <span>{{ formPernyataan.officerPhoneNumber }}</span>
        </dd>
        <dt><span>Officer Position</span></dt>
        <dd>
          <span>{{ formPernyataan.officerPosition }}</span>
        </dd>
        <dt><span>Officer Department</span></dt>
        <dd>
          <span>{{ formPernyataan.officerDepartment }}</span>
        </dd>
        <dt><span>Kelurahan Desa</span></dt>
        <dd>
          <span>{{ formPernyataan.kelurahanDesa }}</span>
        </dd>
        <dt><span>Kecamatan</span></dt>
        <dd>
          <span>{{ formPernyataan.kecamatan }}</span>
        </dd>
        <dt><span>Kabupaten Kota</span></dt>
        <dd>
          <span>{{ formPernyataan.kabupatenKota }}</span>
        </dd>
        <dt><span>Provinsi</span></dt>
        <dd>
          <span>{{ formPernyataan.provinsi }}</span>
        </dd>
        <dt><span>Pbp Tidak Ditemukan 1</span></dt>
        <dd>
          <span>{{ formPernyataan.pbpTidakDitemukan1 }}</span>
        </dd>
        <dt><span>Alamat Pbp Tidak Ditemukan 1</span></dt>
        <dd>
          <span>{{ formPernyataan.alamatPbpTidakDitemukan1 }}</span>
        </dd>
        <dt><span>Pbp Pengganti 1</span></dt>
        <dd>
          <span>{{ formPernyataan.pbpPengganti1 }}</span>
        </dd>
        <dt><span>Alamat Pbp Pengganti 1</span></dt>
        <dd>
          <span>{{ formPernyataan.alamatPbpPengganti1 }}</span>
        </dd>
        <dt><span>Pbp Tidak Ditemukan 2</span></dt>
        <dd>
          <span>{{ formPernyataan.pbpTidakDitemukan2 }}</span>
        </dd>
        <dt><span>Alamat Pbp Tidak Ditemukan 2</span></dt>
        <dd>
          <span>{{ formPernyataan.alamatPbpTidakDitemukan2 }}</span>
        </dd>
        <dt><span>Pbp Pengganti 2</span></dt>
        <dd>
          <span>{{ formPernyataan.pbpPengganti2 }}</span>
        </dd>
        <dt><span>Alamat Pbp Pengganti 2</span></dt>
        <dd>
          <span>{{ formPernyataan.alamatPbpPengganti2 }}</span>
        </dd>
        <dt><span>Pbp Tidak Ditemukan 3</span></dt>
        <dd>
          <span>{{ formPernyataan.pbpTidakDitemukan3 }}</span>
        </dd>
        <dt><span>Alamat Pbp Tidak Ditemukan 3</span></dt>
        <dd>
          <span>{{ formPernyataan.alamatPbpTidakDitemukan3 }}</span>
        </dd>
        <dt><span>Pbp Pengganti 3</span></dt>
        <dd>
          <span>{{ formPernyataan.pbpPengganti3 }}</span>
        </dd>
        <dt><span>Alamat Pbp Pengganti 3</span></dt>
        <dd>
          <span>{{ formPernyataan.alamatPbpPengganti3 }}</span>
        </dd>
        <dt><span>Pbp Tidak Ditemukan 4</span></dt>
        <dd>
          <span>{{ formPernyataan.pbpTidakDitemukan4 }}</span>
        </dd>
        <dt><span>Alamat Pbp Tidak Ditemukan 4</span></dt>
        <dd>
          <span>{{ formPernyataan.alamatPbpTidakDitemukan4 }}</span>
        </dd>
        <dt><span>Pbp Pengganti 4</span></dt>
        <dd>
          <span>{{ formPernyataan.pbpPengganti4 }}</span>
        </dd>
        <dt><span>Alamat Pbp Pengganti 4</span></dt>
        <dd>
          <span>{{ formPernyataan.alamatPbpPengganti4 }}</span>
        </dd>
        <dt><span>Pbp Tidak Ditemukan 5</span></dt>
        <dd>
          <span>{{ formPernyataan.pbpTidakDitemukan5 }}</span>
        </dd>
        <dt><span>Alamat Pbp Tidak Ditemukan 5</span></dt>
        <dd>
          <span>{{ formPernyataan.alamatPbpTidakDitemukan5 }}</span>
        </dd>
        <dt><span>Pbp Pengganti 5</span></dt>
        <dd>
          <span>{{ formPernyataan.pbpPengganti5 }}</span>
        </dd>
        <dt><span>Alamat Pbp Pengganti 5</span></dt>
        <dd>
          <span>{{ formPernyataan.alamatPbpPengganti5 }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ formPernyataan.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ formPernyataan.createdBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ formPernyataan.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ formPernyataan.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/form-pernyataan', formPernyataan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
