<div>
  <h2 id="page-heading" data-cy="FormPernyataanHeading">
    <span>Form Pernyataans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-form-pernyataan"
        [routerLink]="['/form-pernyataan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Form Pernyataan </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formPernyataans?.length === 0">
    <span>No Form Pernyataans found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="formPernyataans && formPernyataans.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="active">
            <div class="d-flex">
              <span>Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <div class="d-flex">
              <span>Remarks</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contents">
            <div class="d-flex">
              <span>Contents</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documentTitle">
            <div class="d-flex">
              <span>Document Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="officerName">
            <div class="d-flex">
              <span>Officer Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="officerPhoneNumber">
            <div class="d-flex">
              <span>Officer Phone Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="officerPosition">
            <div class="d-flex">
              <span>Officer Position</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="officerDepartment">
            <div class="d-flex">
              <span>Officer Department</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kelurahanDesa">
            <div class="d-flex">
              <span>Kelurahan Desa</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kecamatan">
            <div class="d-flex">
              <span>Kecamatan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kabupatenKota">
            <div class="d-flex">
              <span>Kabupaten Kota</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="provinsi">
            <div class="d-flex">
              <span>Provinsi</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpTidakDitemukan1">
            <div class="d-flex">
              <span>Pbp Tidak Ditemukan 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpTidakDitemukan1">
            <div class="d-flex">
              <span>Alamat Pbp Tidak Ditemukan 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpPengganti1">
            <div class="d-flex">
              <span>Pbp Pengganti 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpPengganti1">
            <div class="d-flex">
              <span>Alamat Pbp Pengganti 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpTidakDitemukan2">
            <div class="d-flex">
              <span>Pbp Tidak Ditemukan 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpTidakDitemukan2">
            <div class="d-flex">
              <span>Alamat Pbp Tidak Ditemukan 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpPengganti2">
            <div class="d-flex">
              <span>Pbp Pengganti 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpPengganti2">
            <div class="d-flex">
              <span>Alamat Pbp Pengganti 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpTidakDitemukan3">
            <div class="d-flex">
              <span>Pbp Tidak Ditemukan 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpTidakDitemukan3">
            <div class="d-flex">
              <span>Alamat Pbp Tidak Ditemukan 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpPengganti3">
            <div class="d-flex">
              <span>Pbp Pengganti 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpPengganti3">
            <div class="d-flex">
              <span>Alamat Pbp Pengganti 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpTidakDitemukan4">
            <div class="d-flex">
              <span>Pbp Tidak Ditemukan 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpTidakDitemukan4">
            <div class="d-flex">
              <span>Alamat Pbp Tidak Ditemukan 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpPengganti4">
            <div class="d-flex">
              <span>Pbp Pengganti 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpPengganti4">
            <div class="d-flex">
              <span>Alamat Pbp Pengganti 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpTidakDitemukan5">
            <div class="d-flex">
              <span>Pbp Tidak Ditemukan 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpTidakDitemukan5">
            <div class="d-flex">
              <span>Alamat Pbp Tidak Ditemukan 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pbpPengganti5">
            <div class="d-flex">
              <span>Pbp Pengganti 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamatPbpPengganti5">
            <div class="d-flex">
              <span>Alamat Pbp Pengganti 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span>Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span>Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <div class="d-flex">
              <span>Last Modified Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span>Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formPernyataan of formPernyataans; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/form-pernyataan', formPernyataan.id, 'view']">{{ formPernyataan.id }}</a>
          </td>
          <td>{{ formPernyataan.status }}</td>
          <td>{{ formPernyataan.active }}</td>
          <td>{{ formPernyataan.remarks }}</td>
          <td>{{ formPernyataan.contents }}</td>
          <td>{{ formPernyataan.documentTitle }}</td>
          <td>{{ formPernyataan.officerName }}</td>
          <td>{{ formPernyataan.officerPhoneNumber }}</td>
          <td>{{ formPernyataan.officerPosition }}</td>
          <td>{{ formPernyataan.officerDepartment }}</td>
          <td>{{ formPernyataan.kelurahanDesa }}</td>
          <td>{{ formPernyataan.kecamatan }}</td>
          <td>{{ formPernyataan.kabupatenKota }}</td>
          <td>{{ formPernyataan.provinsi }}</td>
          <td>{{ formPernyataan.pbpTidakDitemukan1 }}</td>
          <td>{{ formPernyataan.alamatPbpTidakDitemukan1 }}</td>
          <td>{{ formPernyataan.pbpPengganti1 }}</td>
          <td>{{ formPernyataan.alamatPbpPengganti1 }}</td>
          <td>{{ formPernyataan.pbpTidakDitemukan2 }}</td>
          <td>{{ formPernyataan.alamatPbpTidakDitemukan2 }}</td>
          <td>{{ formPernyataan.pbpPengganti2 }}</td>
          <td>{{ formPernyataan.alamatPbpPengganti2 }}</td>
          <td>{{ formPernyataan.pbpTidakDitemukan3 }}</td>
          <td>{{ formPernyataan.alamatPbpTidakDitemukan3 }}</td>
          <td>{{ formPernyataan.pbpPengganti3 }}</td>
          <td>{{ formPernyataan.alamatPbpPengganti3 }}</td>
          <td>{{ formPernyataan.pbpTidakDitemukan4 }}</td>
          <td>{{ formPernyataan.alamatPbpTidakDitemukan4 }}</td>
          <td>{{ formPernyataan.pbpPengganti4 }}</td>
          <td>{{ formPernyataan.alamatPbpPengganti4 }}</td>
          <td>{{ formPernyataan.pbpTidakDitemukan5 }}</td>
          <td>{{ formPernyataan.alamatPbpTidakDitemukan5 }}</td>
          <td>{{ formPernyataan.pbpPengganti5 }}</td>
          <td>{{ formPernyataan.alamatPbpPengganti5 }}</td>
          <td>{{ formPernyataan.createdDate | formatMediumDatetime }}</td>
          <td>{{ formPernyataan.createdBy }}</td>
          <td>{{ formPernyataan.lastModifiedDate | formatMediumDatetime }}</td>
          <td>{{ formPernyataan.lastModifiedBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/form-pernyataan', formPernyataan.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/form-pernyataan', formPernyataan.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(formPernyataan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
