<div>
  <h2 id="page-heading" data-cy="FormBASTPBPHeading">
    <span>Form BASTPBPS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-form-bastpbp"
        [routerLink]="['/form-bastpbp/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Form BASTPBP </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formBASTPBPS?.length === 0">
    <span>No Form BASTPBPS found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="formBASTPBPS && formBASTPBPS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="active">
            <div class="d-flex">
              <span>Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <div class="d-flex">
              <span>Remarks</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contents">
            <div class="d-flex">
              <span>Contents</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documentTitle">
            <div class="d-flex">
              <span>Document Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documentNumber">
            <div class="d-flex">
              <span>Document Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kelurahanDesa">
            <div class="d-flex">
              <span>Kelurahan Desa</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kecamatan">
            <div class="d-flex">
              <span>Kecamatan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kabupatenKota">
            <div class="d-flex">
              <span>Kabupaten Kota</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="provinsi">
            <div class="d-flex">
              <span>Provinsi</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rtRw">
            <div class="d-flex">
              <span>Rt Rw</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kcu">
            <div class="d-flex">
              <span>Kcu</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kantorSerah">
            <div class="d-flex">
              <span>Kantor Serah</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bastNumber">
            <div class="d-flex">
              <span>Bast Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documentDescription">
            <div class="d-flex">
              <span>Document Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nama1">
            <div class="d-flex">
              <span>Nama 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamat1">
            <div class="d-flex">
              <span>Alamat 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomor1">
            <div class="d-flex">
              <span>Nomor 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jumlah1">
            <div class="d-flex">
              <span>Jumlah 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nama2">
            <div class="d-flex">
              <span>Nama 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamat2">
            <div class="d-flex">
              <span>Alamat 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomor2">
            <div class="d-flex">
              <span>Nomor 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jumlah2">
            <div class="d-flex">
              <span>Jumlah 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nama3">
            <div class="d-flex">
              <span>Nama 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamat3">
            <div class="d-flex">
              <span>Alamat 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomor3">
            <div class="d-flex">
              <span>Nomor 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jumlah3">
            <div class="d-flex">
              <span>Jumlah 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nama4">
            <div class="d-flex">
              <span>Nama 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamat4">
            <div class="d-flex">
              <span>Alamat 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomor4">
            <div class="d-flex">
              <span>Nomor 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jumlah4">
            <div class="d-flex">
              <span>Jumlah 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nama5">
            <div class="d-flex">
              <span>Nama 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamat5">
            <div class="d-flex">
              <span>Alamat 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomor5">
            <div class="d-flex">
              <span>Nomor 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jumlah5">
            <div class="d-flex">
              <span>Jumlah 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nama6">
            <div class="d-flex">
              <span>Nama 6</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nama7">
            <div class="d-flex">
              <span>Nama 7</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamat7">
            <div class="d-flex">
              <span>Alamat 7</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomor7">
            <div class="d-flex">
              <span>Nomor 7</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jumlah7">
            <div class="d-flex">
              <span>Jumlah 7</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nama8">
            <div class="d-flex">
              <span>Nama 8</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamat8">
            <div class="d-flex">
              <span>Alamat 8</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomor8">
            <div class="d-flex">
              <span>Nomor 8</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jumlah8">
            <div class="d-flex">
              <span>Jumlah 8</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nama9">
            <div class="d-flex">
              <span>Nama 9</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamat9">
            <div class="d-flex">
              <span>Alamat 9</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomor9">
            <div class="d-flex">
              <span>Nomor 9</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jumlah9">
            <div class="d-flex">
              <span>Jumlah 9</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nama10">
            <div class="d-flex">
              <span>Nama 10</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamat10">
            <div class="d-flex">
              <span>Alamat 10</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomor10">
            <div class="d-flex">
              <span>Nomor 10</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jumlah10">
            <div class="d-flex">
              <span>Jumlah 10</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alamat6">
            <div class="d-flex">
              <span>Alamat 6</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nomor6">
            <div class="d-flex">
              <span>Nomor 6</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jumlah6">
            <div class="d-flex">
              <span>Jumlah 6</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span>Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span>Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <div class="d-flex">
              <span>Last Modified Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span>Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formBASTPBP of formBASTPBPS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/form-bastpbp', formBASTPBP.id, 'view']">{{ formBASTPBP.id }}</a>
          </td>
          <td>{{ formBASTPBP.status }}</td>
          <td>{{ formBASTPBP.active }}</td>
          <td>{{ formBASTPBP.remarks }}</td>
          <td>{{ formBASTPBP.contents }}</td>
          <td>{{ formBASTPBP.documentTitle }}</td>
          <td>{{ formBASTPBP.documentNumber }}</td>
          <td>{{ formBASTPBP.kelurahanDesa }}</td>
          <td>{{ formBASTPBP.kecamatan }}</td>
          <td>{{ formBASTPBP.kabupatenKota }}</td>
          <td>{{ formBASTPBP.provinsi }}</td>
          <td>{{ formBASTPBP.rtRw }}</td>
          <td>{{ formBASTPBP.kcu }}</td>
          <td>{{ formBASTPBP.kantorSerah }}</td>
          <td>{{ formBASTPBP.bastNumber }}</td>
          <td>{{ formBASTPBP.documentDescription }}</td>
          <td>{{ formBASTPBP.nama1 }}</td>
          <td>{{ formBASTPBP.alamat1 }}</td>
          <td>{{ formBASTPBP.nomor1 }}</td>
          <td>{{ formBASTPBP.jumlah1 }}</td>
          <td>{{ formBASTPBP.nama2 }}</td>
          <td>{{ formBASTPBP.alamat2 }}</td>
          <td>{{ formBASTPBP.nomor2 }}</td>
          <td>{{ formBASTPBP.jumlah2 }}</td>
          <td>{{ formBASTPBP.nama3 }}</td>
          <td>{{ formBASTPBP.alamat3 }}</td>
          <td>{{ formBASTPBP.nomor3 }}</td>
          <td>{{ formBASTPBP.jumlah3 }}</td>
          <td>{{ formBASTPBP.nama4 }}</td>
          <td>{{ formBASTPBP.alamat4 }}</td>
          <td>{{ formBASTPBP.nomor4 }}</td>
          <td>{{ formBASTPBP.jumlah4 }}</td>
          <td>{{ formBASTPBP.nama5 }}</td>
          <td>{{ formBASTPBP.alamat5 }}</td>
          <td>{{ formBASTPBP.nomor5 }}</td>
          <td>{{ formBASTPBP.jumlah5 }}</td>
          <td>{{ formBASTPBP.nama6 }}</td>
          <td>{{ formBASTPBP.nama7 }}</td>
          <td>{{ formBASTPBP.alamat7 }}</td>
          <td>{{ formBASTPBP.nomor7 }}</td>
          <td>{{ formBASTPBP.jumlah7 }}</td>
          <td>{{ formBASTPBP.nama8 }}</td>
          <td>{{ formBASTPBP.alamat8 }}</td>
          <td>{{ formBASTPBP.nomor8 }}</td>
          <td>{{ formBASTPBP.jumlah8 }}</td>
          <td>{{ formBASTPBP.nama9 }}</td>
          <td>{{ formBASTPBP.alamat9 }}</td>
          <td>{{ formBASTPBP.nomor9 }}</td>
          <td>{{ formBASTPBP.jumlah9 }}</td>
          <td>{{ formBASTPBP.nama10 }}</td>
          <td>{{ formBASTPBP.alamat10 }}</td>
          <td>{{ formBASTPBP.nomor10 }}</td>
          <td>{{ formBASTPBP.jumlah10 }}</td>
          <td>{{ formBASTPBP.alamat6 }}</td>
          <td>{{ formBASTPBP.nomor6 }}</td>
          <td>{{ formBASTPBP.jumlah6 }}</td>
          <td>{{ formBASTPBP.createdDate | formatMediumDatetime }}</td>
          <td>{{ formBASTPBP.createdBy }}</td>
          <td>{{ formBASTPBP.lastModifiedDate | formatMediumDatetime }}</td>
          <td>{{ formBASTPBP.lastModifiedBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/form-bastpbp', formBASTPBP.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/form-bastpbp', formBASTPBP.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(formBASTPBP)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
