<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-form-bastpbpp-heading" data-cy="FormBASTPBPPCreateUpdateHeading">Create or edit a Form BASTPBPP</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.maxlength">
              This field cannot be longer than 2 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
          <div *ngIf="editForm.get('active')!.invalid && (editForm.get('active')!.dirty || editForm.get('active')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('active')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_remarks">Remarks</label>
          <input type="text" class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks" />
          <div *ngIf="editForm.get('remarks')!.invalid && (editForm.get('remarks')!.dirty || editForm.get('remarks')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('remarks')?.errors?.maxlength">
              This field cannot be longer than 500 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_contents">Contents</label>
          <input type="text" class="form-control" name="contents" id="field_contents" data-cy="contents" formControlName="contents" />
          <div *ngIf="editForm.get('contents')!.invalid && (editForm.get('contents')!.dirty || editForm.get('contents')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('contents')?.errors?.maxlength">
              This field cannot be longer than 65353 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_documentTitle">Document Title</label>
          <input
            type="text"
            class="form-control"
            name="documentTitle"
            id="field_documentTitle"
            data-cy="documentTitle"
            formControlName="documentTitle"
          />
          <div
            *ngIf="
              editForm.get('documentTitle')!.invalid && (editForm.get('documentTitle')!.dirty || editForm.get('documentTitle')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('documentTitle')?.errors?.maxlength">
              This field cannot be longer than 500 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_kelurahanDesa">Kelurahan Desa</label>
          <input
            type="text"
            class="form-control"
            name="kelurahanDesa"
            id="field_kelurahanDesa"
            data-cy="kelurahanDesa"
            formControlName="kelurahanDesa"
          />
          <div
            *ngIf="
              editForm.get('kelurahanDesa')!.invalid && (editForm.get('kelurahanDesa')!.dirty || editForm.get('kelurahanDesa')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('kelurahanDesa')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_kecamatan">Kecamatan</label>
          <input type="text" class="form-control" name="kecamatan" id="field_kecamatan" data-cy="kecamatan" formControlName="kecamatan" />
          <div *ngIf="editForm.get('kecamatan')!.invalid && (editForm.get('kecamatan')!.dirty || editForm.get('kecamatan')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('kecamatan')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_kabupatenKota">Kabupaten Kota</label>
          <input
            type="text"
            class="form-control"
            name="kabupatenKota"
            id="field_kabupatenKota"
            data-cy="kabupatenKota"
            formControlName="kabupatenKota"
          />
          <div
            *ngIf="
              editForm.get('kabupatenKota')!.invalid && (editForm.get('kabupatenKota')!.dirty || editForm.get('kabupatenKota')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('kabupatenKota')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_provinsi">Provinsi</label>
          <input type="text" class="form-control" name="provinsi" id="field_provinsi" data-cy="provinsi" formControlName="provinsi" />
          <div *ngIf="editForm.get('provinsi')!.invalid && (editForm.get('provinsi')!.dirty || editForm.get('provinsi')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('provinsi')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pbpTidakDitemukan1">Pbp Tidak Ditemukan 1</label>
          <input
            type="text"
            class="form-control"
            name="pbpTidakDitemukan1"
            id="field_pbpTidakDitemukan1"
            data-cy="pbpTidakDitemukan1"
            formControlName="pbpTidakDitemukan1"
          />
          <div
            *ngIf="
              editForm.get('pbpTidakDitemukan1')!.invalid &&
              (editForm.get('pbpTidakDitemukan1')!.dirty || editForm.get('pbpTidakDitemukan1')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('pbpTidakDitemukan1')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sebabPenggantian1">Sebab Penggantian 1</label>
          <input
            type="text"
            class="form-control"
            name="sebabPenggantian1"
            id="field_sebabPenggantian1"
            data-cy="sebabPenggantian1"
            formControlName="sebabPenggantian1"
          />
          <div
            *ngIf="
              editForm.get('sebabPenggantian1')!.invalid &&
              (editForm.get('sebabPenggantian1')!.dirty || editForm.get('sebabPenggantian1')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('sebabPenggantian1')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pbpPengganti1">Pbp Pengganti 1</label>
          <input
            type="text"
            class="form-control"
            name="pbpPengganti1"
            id="field_pbpPengganti1"
            data-cy="pbpPengganti1"
            formControlName="pbpPengganti1"
          />
          <div
            *ngIf="
              editForm.get('pbpPengganti1')!.invalid && (editForm.get('pbpPengganti1')!.dirty || editForm.get('pbpPengganti1')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('pbpPengganti1')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_alamatPbpPengganti1">Alamat Pbp Pengganti 1</label>
          <input
            type="text"
            class="form-control"
            name="alamatPbpPengganti1"
            id="field_alamatPbpPengganti1"
            data-cy="alamatPbpPengganti1"
            formControlName="alamatPbpPengganti1"
          />
          <div
            *ngIf="
              editForm.get('alamatPbpPengganti1')!.invalid &&
              (editForm.get('alamatPbpPengganti1')!.dirty || editForm.get('alamatPbpPengganti1')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('alamatPbpPengganti1')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pbpTidakDitemukan2">Pbp Tidak Ditemukan 2</label>
          <input
            type="text"
            class="form-control"
            name="pbpTidakDitemukan2"
            id="field_pbpTidakDitemukan2"
            data-cy="pbpTidakDitemukan2"
            formControlName="pbpTidakDitemukan2"
          />
          <div
            *ngIf="
              editForm.get('pbpTidakDitemukan2')!.invalid &&
              (editForm.get('pbpTidakDitemukan2')!.dirty || editForm.get('pbpTidakDitemukan2')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('pbpTidakDitemukan2')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sebabPenggantian2">Sebab Penggantian 2</label>
          <input
            type="text"
            class="form-control"
            name="sebabPenggantian2"
            id="field_sebabPenggantian2"
            data-cy="sebabPenggantian2"
            formControlName="sebabPenggantian2"
          />
          <div
            *ngIf="
              editForm.get('sebabPenggantian2')!.invalid &&
              (editForm.get('sebabPenggantian2')!.dirty || editForm.get('sebabPenggantian2')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('sebabPenggantian2')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pbpPengganti2">Pbp Pengganti 2</label>
          <input
            type="text"
            class="form-control"
            name="pbpPengganti2"
            id="field_pbpPengganti2"
            data-cy="pbpPengganti2"
            formControlName="pbpPengganti2"
          />
          <div
            *ngIf="
              editForm.get('pbpPengganti2')!.invalid && (editForm.get('pbpPengganti2')!.dirty || editForm.get('pbpPengganti2')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('pbpPengganti2')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_alamatPbpPengganti2">Alamat Pbp Pengganti 2</label>
          <input
            type="text"
            class="form-control"
            name="alamatPbpPengganti2"
            id="field_alamatPbpPengganti2"
            data-cy="alamatPbpPengganti2"
            formControlName="alamatPbpPengganti2"
          />
          <div
            *ngIf="
              editForm.get('alamatPbpPengganti2')!.invalid &&
              (editForm.get('alamatPbpPengganti2')!.dirty || editForm.get('alamatPbpPengganti2')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('alamatPbpPengganti2')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pbpTidakDitemukan3">Pbp Tidak Ditemukan 3</label>
          <input
            type="text"
            class="form-control"
            name="pbpTidakDitemukan3"
            id="field_pbpTidakDitemukan3"
            data-cy="pbpTidakDitemukan3"
            formControlName="pbpTidakDitemukan3"
          />
          <div
            *ngIf="
              editForm.get('pbpTidakDitemukan3')!.invalid &&
              (editForm.get('pbpTidakDitemukan3')!.dirty || editForm.get('pbpTidakDitemukan3')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('pbpTidakDitemukan3')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sebabPenggantian3">Sebab Penggantian 3</label>
          <input
            type="text"
            class="form-control"
            name="sebabPenggantian3"
            id="field_sebabPenggantian3"
            data-cy="sebabPenggantian3"
            formControlName="sebabPenggantian3"
          />
          <div
            *ngIf="
              editForm.get('sebabPenggantian3')!.invalid &&
              (editForm.get('sebabPenggantian3')!.dirty || editForm.get('sebabPenggantian3')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('sebabPenggantian3')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pbpPengganti3">Pbp Pengganti 3</label>
          <input
            type="text"
            class="form-control"
            name="pbpPengganti3"
            id="field_pbpPengganti3"
            data-cy="pbpPengganti3"
            formControlName="pbpPengganti3"
          />
          <div
            *ngIf="
              editForm.get('pbpPengganti3')!.invalid && (editForm.get('pbpPengganti3')!.dirty || editForm.get('pbpPengganti3')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('pbpPengganti3')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_alamatPbpPengganti3">Alamat Pbp Pengganti 3</label>
          <input
            type="text"
            class="form-control"
            name="alamatPbpPengganti3"
            id="field_alamatPbpPengganti3"
            data-cy="alamatPbpPengganti3"
            formControlName="alamatPbpPengganti3"
          />
          <div
            *ngIf="
              editForm.get('alamatPbpPengganti3')!.invalid &&
              (editForm.get('alamatPbpPengganti3')!.dirty || editForm.get('alamatPbpPengganti3')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('alamatPbpPengganti3')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pbpTidakDitemukan4">Pbp Tidak Ditemukan 4</label>
          <input
            type="text"
            class="form-control"
            name="pbpTidakDitemukan4"
            id="field_pbpTidakDitemukan4"
            data-cy="pbpTidakDitemukan4"
            formControlName="pbpTidakDitemukan4"
          />
          <div
            *ngIf="
              editForm.get('pbpTidakDitemukan4')!.invalid &&
              (editForm.get('pbpTidakDitemukan4')!.dirty || editForm.get('pbpTidakDitemukan4')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('pbpTidakDitemukan4')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sebabPenggantian4">Sebab Penggantian 4</label>
          <input
            type="text"
            class="form-control"
            name="sebabPenggantian4"
            id="field_sebabPenggantian4"
            data-cy="sebabPenggantian4"
            formControlName="sebabPenggantian4"
          />
          <div
            *ngIf="
              editForm.get('sebabPenggantian4')!.invalid &&
              (editForm.get('sebabPenggantian4')!.dirty || editForm.get('sebabPenggantian4')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('sebabPenggantian4')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pbpPengganti4">Pbp Pengganti 4</label>
          <input
            type="text"
            class="form-control"
            name="pbpPengganti4"
            id="field_pbpPengganti4"
            data-cy="pbpPengganti4"
            formControlName="pbpPengganti4"
          />
          <div
            *ngIf="
              editForm.get('pbpPengganti4')!.invalid && (editForm.get('pbpPengganti4')!.dirty || editForm.get('pbpPengganti4')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('pbpPengganti4')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_alamatPbpPengganti4">Alamat Pbp Pengganti 4</label>
          <input
            type="text"
            class="form-control"
            name="alamatPbpPengganti4"
            id="field_alamatPbpPengganti4"
            data-cy="alamatPbpPengganti4"
            formControlName="alamatPbpPengganti4"
          />
          <div
            *ngIf="
              editForm.get('alamatPbpPengganti4')!.invalid &&
              (editForm.get('alamatPbpPengganti4')!.dirty || editForm.get('alamatPbpPengganti4')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('alamatPbpPengganti4')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pbpTidakDitemukan5">Pbp Tidak Ditemukan 5</label>
          <input
            type="text"
            class="form-control"
            name="pbpTidakDitemukan5"
            id="field_pbpTidakDitemukan5"
            data-cy="pbpTidakDitemukan5"
            formControlName="pbpTidakDitemukan5"
          />
          <div
            *ngIf="
              editForm.get('pbpTidakDitemukan5')!.invalid &&
              (editForm.get('pbpTidakDitemukan5')!.dirty || editForm.get('pbpTidakDitemukan5')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('pbpTidakDitemukan5')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sebabPenggantian5">Sebab Penggantian 5</label>
          <input
            type="text"
            class="form-control"
            name="sebabPenggantian5"
            id="field_sebabPenggantian5"
            data-cy="sebabPenggantian5"
            formControlName="sebabPenggantian5"
          />
          <div
            *ngIf="
              editForm.get('sebabPenggantian5')!.invalid &&
              (editForm.get('sebabPenggantian5')!.dirty || editForm.get('sebabPenggantian5')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('sebabPenggantian5')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pbpPengganti5">Pbp Pengganti 5</label>
          <input
            type="text"
            class="form-control"
            name="pbpPengganti5"
            id="field_pbpPengganti5"
            data-cy="pbpPengganti5"
            formControlName="pbpPengganti5"
          />
          <div
            *ngIf="
              editForm.get('pbpPengganti5')!.invalid && (editForm.get('pbpPengganti5')!.dirty || editForm.get('pbpPengganti5')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('pbpPengganti5')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_alamatPbpPengganti5">Alamat Pbp Pengganti 5</label>
          <input
            type="text"
            class="form-control"
            name="alamatPbpPengganti5"
            id="field_alamatPbpPengganti5"
            data-cy="alamatPbpPengganti5"
            formControlName="alamatPbpPengganti5"
          />
          <div
            *ngIf="
              editForm.get('alamatPbpPengganti5')!.invalid &&
              (editForm.get('alamatPbpPengganti5')!.dirty || editForm.get('alamatPbpPengganti5')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('alamatPbpPengganti5')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdDate')!.invalid && (editForm.get('createdDate')!.dirty || editForm.get('createdDate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('createdDate')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('createdBy')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastModifiedDate">Last Modified Date</label>
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
          <div
            *ngIf="
              editForm.get('lastModifiedBy')!.invalid && (editForm.get('lastModifiedBy')!.dirty || editForm.get('lastModifiedBy')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('lastModifiedBy')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
