<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-form-pengeluaran-barang-heading" data-cy="FormPengeluaranBarangCreateUpdateHeading">
        Create or edit a Form Pengeluaran Barang
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.maxlength">
              This field cannot be longer than 2 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
          <div *ngIf="editForm.get('active')!.invalid && (editForm.get('active')!.dirty || editForm.get('active')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('active')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_remarks">Remarks</label>
          <input type="text" class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks" />
          <div *ngIf="editForm.get('remarks')!.invalid && (editForm.get('remarks')!.dirty || editForm.get('remarks')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('remarks')?.errors?.maxlength">
              This field cannot be longer than 500 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_contents">Contents</label>
          <input type="text" class="form-control" name="contents" id="field_contents" data-cy="contents" formControlName="contents" />
          <div *ngIf="editForm.get('contents')!.invalid && (editForm.get('contents')!.dirty || editForm.get('contents')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('contents')?.errors?.maxlength">
              This field cannot be longer than 65353 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_branch">Branch</label>
          <input type="text" class="form-control" name="branch" id="field_branch" data-cy="branch" formControlName="branch" />
          <div *ngIf="editForm.get('branch')!.invalid && (editForm.get('branch')!.dirty || editForm.get('branch')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('branch')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_documentTitle">Document Title</label>
          <input
            type="text"
            class="form-control"
            name="documentTitle"
            id="field_documentTitle"
            data-cy="documentTitle"
            formControlName="documentTitle"
          />
          <div
            *ngIf="
              editForm.get('documentTitle')!.invalid && (editForm.get('documentTitle')!.dirty || editForm.get('documentTitle')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('documentTitle')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_documentNumber">Document Number</label>
          <input
            type="text"
            class="form-control"
            name="documentNumber"
            id="field_documentNumber"
            data-cy="documentNumber"
            formControlName="documentNumber"
          />
          <div
            *ngIf="
              editForm.get('documentNumber')!.invalid && (editForm.get('documentNumber')!.dirty || editForm.get('documentNumber')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('documentNumber')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_recipientAddress">Recipient Address</label>
          <input
            type="text"
            class="form-control"
            name="recipientAddress"
            id="field_recipientAddress"
            data-cy="recipientAddress"
            formControlName="recipientAddress"
          />
          <div
            *ngIf="
              editForm.get('recipientAddress')!.invalid &&
              (editForm.get('recipientAddress')!.dirty || editForm.get('recipientAddress')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('recipientAddress')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_npwp">Npwp</label>
          <input type="text" class="form-control" name="npwp" id="field_npwp" data-cy="npwp" formControlName="npwp" />
          <div *ngIf="editForm.get('npwp')!.invalid && (editForm.get('npwp')!.dirty || editForm.get('npwp')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('npwp')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_warehouseSource">Warehouse Source</label>
          <input
            type="text"
            class="form-control"
            name="warehouseSource"
            id="field_warehouseSource"
            data-cy="warehouseSource"
            formControlName="warehouseSource"
          />
          <div
            *ngIf="
              editForm.get('warehouseSource')!.invalid &&
              (editForm.get('warehouseSource')!.dirty || editForm.get('warehouseSource')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('warehouseSource')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_documentSource">Document Source</label>
          <input
            type="text"
            class="form-control"
            name="documentSource"
            id="field_documentSource"
            data-cy="documentSource"
            formControlName="documentSource"
          />
          <div
            *ngIf="
              editForm.get('documentSource')!.invalid && (editForm.get('documentSource')!.dirty || editForm.get('documentSource')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('documentSource')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_reference">Reference</label>
          <input type="text" class="form-control" name="reference" id="field_reference" data-cy="reference" formControlName="reference" />
          <div *ngIf="editForm.get('reference')!.invalid && (editForm.get('reference')!.dirty || editForm.get('reference')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('reference')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_date">Date</label>
          <input type="text" class="form-control" name="date" id="field_date" data-cy="date" formControlName="date" />
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_productDescription">Product Description</label>
          <input
            type="text"
            class="form-control"
            name="productDescription"
            id="field_productDescription"
            data-cy="productDescription"
            formControlName="productDescription"
          />
          <div
            *ngIf="
              editForm.get('productDescription')!.invalid &&
              (editForm.get('productDescription')!.dirty || editForm.get('productDescription')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('productDescription')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sourceLocation">Source Location</label>
          <input
            type="text"
            class="form-control"
            name="sourceLocation"
            id="field_sourceLocation"
            data-cy="sourceLocation"
            formControlName="sourceLocation"
          />
          <div
            *ngIf="
              editForm.get('sourceLocation')!.invalid && (editForm.get('sourceLocation')!.dirty || editForm.get('sourceLocation')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('sourceLocation')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lotNo">Lot No</label>
          <input type="text" class="form-control" name="lotNo" id="field_lotNo" data-cy="lotNo" formControlName="lotNo" />
          <div *ngIf="editForm.get('lotNo')!.invalid && (editForm.get('lotNo')!.dirty || editForm.get('lotNo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('lotNo')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sourceDestination">Source Destination</label>
          <input
            type="text"
            class="form-control"
            name="sourceDestination"
            id="field_sourceDestination"
            data-cy="sourceDestination"
            formControlName="sourceDestination"
          />
          <div
            *ngIf="
              editForm.get('sourceDestination')!.invalid &&
              (editForm.get('sourceDestination')!.dirty || editForm.get('sourceDestination')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('sourceDestination')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_armadaName">Armada Name</label>
          <input
            type="text"
            class="form-control"
            name="armadaName"
            id="field_armadaName"
            data-cy="armadaName"
            formControlName="armadaName"
          />
          <div *ngIf="editForm.get('armadaName')!.invalid && (editForm.get('armadaName')!.dirty || editForm.get('armadaName')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('armadaName')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_armadaNumber">Armada Number</label>
          <input
            type="text"
            class="form-control"
            name="armadaNumber"
            id="field_armadaNumber"
            data-cy="armadaNumber"
            formControlName="armadaNumber"
          />
          <div
            *ngIf="editForm.get('armadaNumber')!.invalid && (editForm.get('armadaNumber')!.dirty || editForm.get('armadaNumber')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('armadaNumber')?.errors?.maxlength">
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdDate')!.invalid && (editForm.get('createdDate')!.dirty || editForm.get('createdDate')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('createdDate')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('createdBy')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastModifiedDate">Last Modified Date</label>
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
          <div
            *ngIf="
              editForm.get('lastModifiedBy')!.invalid && (editForm.get('lastModifiedBy')!.dirty || editForm.get('lastModifiedBy')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('lastModifiedBy')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
